<aside class="position-fixed" id="sidebar">
  <ul class="navbar-navbar pl-2 pt-5">
    <li class="nav-item pb-3" id="mtSidebar" >
      <a class="nav-link text-white" ui-sref="main.perfil" href="">
        <div class="d-inline">
          <i class="fas fa-user"></i>
        </div>
        <p class="d-inline pl-1">Mi perfil</p>
      </a>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-users"></i>
        </div>
        <p class="d-inline pl-1">Clientes</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-box"></i>
        </div>
        <p class="d-inline pl-1">Paquetes</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Prealertar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-people-carry"></i>
        </div>
        <p class="d-inline pl-1">Aduana</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Registrar encargado de aduana</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar encargados de aduana</a>
      </div>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-building"></i>
        </div>
        <p class="d-inline pl-2">Sucursales</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Registrar encargado de sucursal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar encargados de sucursal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Registrar sucursal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar sucursales</a>
      </div>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-motorcycle"></i>
        </div>
        <p class="d-inline pl-1">Repartidor</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-id-card-alt"></i>
        </div>
        <p class="d-inline pl-1">Convenios</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-id-card-alt"></i>
        </div>
        <a class="d-inline pl-1" ui-sref="main.editarUsuario">Editar usuario</a>
      </a>
    </li>
    
  </ul>
</aside>