#registroClientes{
    font-family: montserrat, sans-serif;
    font-weight: 300;

    h1{
      color: rgb(5, 34, 83);
    }
    .mt-6{
        margin-top: 4rem;
    }
    .texto-descripcion{
        font-size: 1.2em;
    }
}