<main class="hero" id="filtrarUsuarios">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h1 class="text-center my-5 pt-2">Filtrar usuarios</h1>
      </div>
    </section>
    <section class="row">
      <div class="col-md-4">
        <label for="txtRol">Selecione el tipo de usuario:</label>
        <select id="txtRol" ng-model="vm.clientesRol" ng-change="vm.filtrarUsuario(vm.clientesRol)" class="custom-select" required>
          <option value="">Seleccione el tipo de usuario</option>
          <option value="1">Administrador</option>
          <option value="2">Encargado de Aduana</option>
          <option value="3">Encargado de Sucursal</option>
          <option value="4">Repartidor</option>
          <option value="5">Cliente</option>
        </select>
      </div>
    </section>
    <section class="row justify-content-center">
      <div class="col-md-12 mt-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cédula</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in vm.listarUsuarios">
              <th scope="row">{{$index+1}}</th>
              <td>{{usuario.cedula}}</td>
              <td>{{usuario.primerNombre}}</td>
              <td>{{usuario.primerApellido}}</td>
              <td>{{usuario.correo}}</td>
              <td>{{usuario.telefono}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>