<main class="hero" id="consultarEstado">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5 pt-2">Cambiar estado</h1>
            </div>
        </section>
        <section class="row justify-content-center">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead class="">
                        <tr>
                            <th scope="col">Pre-alertado</th>
                            <th scope="col">En aduana</th>
                            <th scope="col">En sucursal</th>
                            <th scope="col">Repartidor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="">
                                    Pre-alertado
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="">
                                    Enviar a sucursal
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="">
                                    Asignar repartidor
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="">
                                    Entregar a cliente
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="row">
            <div class="col-md-6">
                <div class="form-group mt-2">
                    <label>Asigne un repartidor para entregar el paquete:</label>
                    <select ng-model="vm.PaquetesPrealertadosMod.idRepartidorPaquete.name" class="custom-select">>
                        <option value>Seleccione un repartidor</option>
                        <option value="1">Repartidor quemado 1</option>
                        <option value="2">Repartidor quemado 2</option>

                        <option ng-repeat="datosRepartidores in vm.repartidoresActivos" value="{{datosRepartidores.cedula}}">{{datosRepartidores.primerNombre}} {{datosRepartidores.primerApellido}}</option>
                    </select>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-6 mt-2">
                <button type="button" class="btn btn-danger">Guardar</button>
                <button type="button" class="btn btn-danger" ng-click="vm.regresar()">Regresar</button>
            </div>
        </div>
    </div>
</main>