<main class="hero" id="casillero">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5 pt-2">Mi casillero: {{vm.casillero.casillero}}</h1>
            </div>
        </section>
        <section class="row justify-content-center">
            <form>
                <div class="row">
                    <div class="col-md-5">
                        <label>Nombre:</label>
                        {{vm.casillero.primerNombre}}  {{vm.casillero.primerApellido}} {{vm.casillero.segundoApellido}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label>Dirección 1:</label>
                        78 01 NW 37 Street
                    </div>
                    <div class="col-md-10">
                        <label>Dirección 2:</label>
                        78 01 NW 37 Street
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Ciudad:</label>
                        Miami
                    </div>
                    <div class="col-md-12">
                        <label>Estado:</label>
                        FL
                    </div>
                    <div class="col-md-12">
                        <label>Código postal:</label>
                        33166-6503
                    </div>
                    <div class="col-md-12">
                        <label>País:</label>
                        Estados Unidos
                    </div>
                    <div class="col-md-12">
                        <label>Número de teléfono:</label>
                        305 592 0839
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>