<main class="hero" id="casillero">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5 pt-2">Mi casillero: {{vm.casillero.casillero}}</h1>
            </div>
        </section>
        <section class="row justify-content-center pt-10">
            <div class="col-md-5">
                <div>
                    <label>Nombre:</label>
                    {{vm.casillero.primerNombre}} {{vm.casillero.primerApellido}} {{vm.casillero.segundoApellido}}
                </div>
                <div>
                    <label>Dirección 1:</label>
                    78 01 NW 37 Street
                </div>
                <div>
                    <label>Dirección 2:</label>
                    Sjo-238790
                </div>
                <div>
                    <label>Ciudad:</label>
                    Miami
                </div>
                <div>
                    <label>Estado:</label>
                    FL
                </div>
                <div>
                    <label>Código postal:</label>
                    33166-6503
                </div>
                <div>
                    <label>Número de teléfono 1:</label>
                    305 592 0839
                </div>
                <div>
                    <label>Número de teléfono 2:</label>
                    305 586 1245 
                </div>
            </div>
            <div class="col-md-5">
                <img class="card-img-top" class="img-fluid rounded-circle" src="sources/img/casillero.jpg" width="300px" height="300px" alt="Card image cap">
            </div>
        </section>
    </div>
</main>