<main class="hero" id="prealertaPaquetes">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5 pt-2">Prealertar paquete</h1>
            </div>
        </section>
        <form name="frmPrealertaPaquete" ng-submit="vm.prealertarPaquete(vm.paqueteNuevo)">
            <section class="row justify-content-center">

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="txtTrackingPaquete">Número de tracking:</label>
                        <input type="text" class="form-control" ng-model="vm.paqueteNuevo.trackingPaquete" disabled/>
                        <small class="form-text">* Identificador único del paquete</small>
                    </div>
                    <div class="form-group">
                        <label for="txtTipoPaquete">Tipo de paquete:</label>
                        <select id="sltTipoPaquete" ng-options="tipoPaquete as tipoPaquete.name for tipoPaquete in vm.tipoPaquetes track by tipoPaquete._id"
                            ng-model="vm.paqueteNuevo.tipoPaquete" class="custom-select" required>
                            <option value="">Seleccione un tipo de paquete</option>
                        </select>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>
                    <div class="form-group">
                        <label for="txtPrecio">Precio del paquete:</label>
                        <input type="text" class="form-control" ng-model="vm.paqueteNuevo.precioPaquete" required/>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtMensajería">Empresa logística:</label>
                        <select class="form-control" ng-model="vm.paqueteNuevo.idMensajero" required>
                            <option value="">Seleccione la empresa logística</option>
                            <option value="Fedex">Fedex</option>
                            <option value="DHL">DHL</option>
                        </select>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>
                    <div class="form-group">
                        <label for="txtPesoPaquete">Peso del paquete:</label>
                        <input type="text" class="form-control" ng-model="vm.paqueteNuevo.pesoPaquete" required/>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtPrecio">Costo de envio:</label>
                                <input type="text" class="form-control" ng-model="vm.paqueteNuevo.costoEnvio" disabled/>
                            </div>
                            <div class="col-md-6">
                                <label for="txtPrecio">Costo total:</label>
                                <input type="text" class="form-control" ng-model="vm.paqueteNuevo.costoTotal" disabled/>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="row justify-content-center">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-danger mt-3" ng-disabled="frmPrealertaPaquete.$invalid">Prealertar</button>
                    <button type="button" class="btn btn-danger mt-3" ng-click="vm.calcularCosto()">Calcular</button>
                </div>
            </section>
        </form>
    </div>
</main>