<main class="hero" id="listarPaquetes">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="text-center my-5 pt-2">Lista de paquetes</h1>
            </div>
        </section>
        <section class="row justify-content-center">
            <div>
                <table class="table">
                    <thead class="">
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Número de tracking</th>
                            <th scope="col">Tipo de paquete</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="paquetesPrealertados in vm.listarPaquetesPrealertados">
                            <td>{{paquetesPrealertados.idCliente}}</td>
                            <td>{{paquetesPrealertados.trackingPaquete}}</td>
                            <td>{{paquetesPrealertados.tipoPaquete}}</td>
                            <td>{{paquetesPrealertados.pesoPaquete}} Kg</td>
                            <td>₡ {{paquetesPrealertados.precioPaquete}}</td>
                            <td>
                                <button type="click" class="btn btn-danger" ng-click="vm.estadoPaquete(paquetesPrealertados)">
                                    Consultar estado
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>