<main class="hero" id="mainInicio">
  <div class="container">

    <section class="row">
      <div class="col-md-12">
        <h1 class="text-center my-5 pt-2">Correos de Costa Rica</h1>
      </div>
    </section>
    <section class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="sources/img/avatar.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="sources/img/avatar.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="sources/img/avatar.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>