<main class="hero" id="modificarTarjeta">
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1 class="py-2" id="title">¡Gracias por trabajar con nosotros!</h1>
                <h4 class="py-2" id="subtitle">Estamos a pocos pasos de empezar.</h4>
                <p class="py-2" id="description">
                    <span>Com</span>plete los siguientes datos.</p>
            </div>
        </section>
        <form name="editarLicencia" class="row" novalidate ng-submit="vm.editarLicencia(vm.modLicencia)">

            <section class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtConfirmarContrasenna">Tipo de tarjeta:</label>
                        <select class="form-control" ng-model="vm.tarjetaEditada.tipoTarjeta">
                            <option value="">Seleccione el tipo de tarjeta</option>
                            <option value="Visa">Visa</option>
                            <option value="MasterCard">Master Card</option>
                            <option value="American Express">American Express</option>
                            <option value="Discover">Discover</option>
                        </select>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label for="txtNombreTarjeta">Nombre como aparece en la tarjeta:</label>
                        <input type="text" class="form-control" ng-model="vm.tarjetaEditada.nombreTarjeta" />
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label>Código CVV:</label>
                        <input type="text" class="form-control" ng-model="vm.tarjetaEditada.cvvTarjeta" />
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtNumeroTarjeta">Número de tarjeta</label>
                        <input type="text" class="form-control" ng-model="vm.tarjetaEditada.numeroTarjeta" disabled/>
                        <small class="form-text text-danger">* Campo requerido</small>
                    </div>

                    <div class="form-group">
                        <label for="txtFech">Fecha de vencimiento:</label>
                        <label>Tipo de licencia *</label>
                        <div class="row">
                            <div class="col-md-6">
                                <select name="tipoLicencia" class="custom-select" required ng-model="vm.modLicencia.tipoLicencia">
                                    <option value>Seleccione el tipo de licencia que posee</option>
                                    <option value="A1 (motocicletas)">A1 (motocicletas)</option>
                                    <option value="A2 (motocicletas)">A2 (motocicletas)</option>
                                    <option value="A3 (motocicletas)">A3 (motocicletas)</option>
                                    <option value="B1 (Vehículo liviano)">B1 (Vehículo liviano)</option>
                                    <option value="B2 (Transporte mercancías)">B2 (Transporte mercancías)</option>
                                    <option value="B3 (Transporte mercancías)">B3 (Transporte mercancías)</option>
                                    <option value="B4 (Transporte mercancías)">B4 (Transporte mercancías)</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Código de licencia *</label>
                                <input type="number" name="codigo" class="form-control" required ng-model="vm.modLicencia.codigo" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Fecha de vencimiento *</label>
                                <input type="date" name="fechaVencimiento" class="form-control" required ng-model="vm.modLicencia.fechaVencimiento">
                            </div>
                            <div class="col-md-6">
                                <input type="file" name="foto" class="custom-file-input" ng-model="vm.modLicencia.foto" lang="es">
                                <label class="custom-file-label">Suba una foto *</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row justify-content-center">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-danger col-md-5" ng-disabled="editarLicencia.$invalid">Registrar</button>
                </div>
            </section>
        </form>
    </div>
</main>